<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <!-- Tên nhân vật -->
        <div class="name-character">
            <h1 class="mx-auto jumbotron text-center display-5">Name Character</h1>
        </div>

        <!-- Thông tin nhân vật -->
        <div class="infor-character">
            <div class="img-character">
                <img class="" src="" alt="IMG">
            </div>
            <div class="boxText">
                <div class="text-group position-group d-flex">
                    <p>Chức danh/Nghề nghiệp:</p>
                    <p>31312323</p>
                </div>
                <div class="text-group born-group d-flex">
                    <p>Ngày sinh-mất:</p>
                    <p>31312323</p>
                </div>
                <div class="text-group country-group d-flex">
                    <p>Quê quán:</p>
                    <p>31312323</p>
                </div>
                <div class="text-group general-group d-flex">
                    <p>Khái quát:</p>
                    <p>31312323</p>
                </div>
            </div>
        </div>

        <!-- Cuộc đời-các sự kiện về nhân vật -->
        <div class="life-character">
            <div class="group-life">
                <div class="time-life">
                    <h2>Ngày ??? - ???</h2>
                </div>
    
                <div class="img-life">
                    <img src="" alt="Img">
                </div>
    
                <div class="details">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem voluptatum adipisci veritatis animi harum? Aut reiciendis maxime eius animi ducimus at omnis voluptates consequatur nemo quidem natus architecto, cupiditate ipsam.</p>
                </div>
            </div>

            <div class="group-life">
                <div class="time-life">
                    <h2>Ngày ??? - ???</h2>
                </div>
    
                <div class="img-life">
                    <img src="" alt="Img">
                </div>
    
                <div class="details">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam ut dolor et neque fugit. Animi aliquam adipisci, perferendis at corporis autem esse. Consequatur fugiat soluta iusto praesentium beatae nihil eligendi?</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>