* {
	margin: 0;
	padding: 0;
	font-family: 'Lora';
}

body {
	background: #222;
	font-family: Georgia, serif;
	color: #fff;
	font-size: 14px;
}

/*  */


/*  */
.event {
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
}

.name {
	padding: 10px;
}

.date {
	padding: 10px;

}

.image img {
	height: 350px;
	width: 100%;

	object-fit: cover;
}

.location {

	padding: 15px;
}

.introduction {
	padding: 15px;

}

.result {
	height: 257px;
	padding: 15px;
}

div.life-character {
	/* background-color: darkcyan; */
	margin-top: 50px;
}

div.group-life {
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
}

.group-life {
	/* background-color: darkgreen; */
	margin-top: 80px;
}

.time-life {
	padding-left: 30px;
}

.img-life {
	background-color: darkgrey;
	height: 300px;
	width: 100%;
	object-fit: cover;
}

.details {
	padding: 15px;
}

.commentList {
	height: 70%;
	border-radius: 5px;
	padding: 15px;

	overflow-y: scroll;
}

.commentList ul li {
	margin-bottom: 10px;

	list-style-type: none;
}