<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Trang chủ</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Sự kiện lịch sử
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Danh sách sự kiện lịch sử</a>
                    <a class="dropdown-item" href="#">Thêm mới sự kiện lịch sử</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Nhân vật lịch sử
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Danh sách nhân vật lịch sử</a>
                    <a class="dropdown-item" href="#">Thêm mới nhân vật lịch sử</a>
                </div>
            </li>
        </ul>
    </nav>
    <br>
    <div class="d-flex justify-content-center display-4">Danh Sách Sự Kiện Lịch Sử</div>
    <br>
    <div class="d-flex flex-row-reverse">

    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>id</th>
                <th>Tên sự kiện</th>
                <th>Ngày bắt đầu</th>
                <th>Ngày kết thúc</th>
                <th>Địa điểm</th>
                <th>Khái quát</th>
                <th colspan="2">Hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td>john@example.com</td>
                <td>john@example.com</td>
                <td>john@example.com</td>
                <td><a href="#">Xem chi tiết</a></td>
                <td><a href="#">Xóa</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Moe</td>
                <td>mary@example.com</td>
                <td>mary@example.com</td>
                <td>mary@example.com</td>
                <td>mary@example.com</td>
                <td><a href="#">Xem chi tiết</a></td>
                <td><a href="#">Xóa</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Dooley</td>
                <td>july@example.com</td>
                <td>july@example.com</td>
                <td>july@example.com</td>
                <td>july@example.com</td>
                <td><a href="#">Xem chi tiết</a></td>
                <td><a href="#">Xóa</a></td>
            </tr>
        </tbody>
    </table>





    </div>

</body>

</html>