<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Registration Form</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/WikiHistory/view/ValidateForm/register/css/app.css">
</head>
<body>

<div class="wrapper">
  <div class="title">
    Register Here
  </div>
  <div class="social_media">
    <div class="item">
      <i class="fab fa-facebook-f"></i>
    </div>
    <div class="item">
      <i class="fab fa-twitter"></i>
    </div>
    <div class="item">
      <i class="fab fa-google-plus-g"></i>
    </div>
  </div>
  
  <div class="form">
    <div class="input_field">
      <input type="text" placeholder="Name" class="input" required>
      <i class="fas fa-user"></i>
    </div>
    <div class="input_field">
      <input type="email" placeholder="Email" class="input" required>
      <i class="far fa-envelope"></i>
    </div>
    <div class="input_field">
      <input type="password" placeholder="Password" class="input" required>
      <i class="fas fa-lock"></i>
    </div>
    <div class="input_field">
      <input type="password" placeholder="Confirm Password" class="input" required>
      <i class="fas fa-lock"></i>
    </div>
    
    <div class="btn  d-flex justify-content-center">
      <a href="#">Register</a>
    </div>
  </div>
  <div class="signup-link d-flex justify-content-center mt-3">Already have account? <a class="ml-1" href="./login.html">Login now</a></div>
</div>	
	
</body>
</html>